################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PSO2TweakerVer2/bin/Release/logfile.txt
